<div class="container">
    <mat-toolbar>
        <i class="fa-solid fa-house fa-bounce"></i>
        <span class="example-spacer"></span>
        <span> Inicio </span>
        <span class="example-spacer"></span>
        <i class="fa-solid fa-house fa-bounce"></i>
    </mat-toolbar>

    <br>

    <div>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Lista de Alumnos</mat-card-title>
                <mat-card-subtitle>¿para que sirve?</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/img/Classroom.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <br>
            <p>
                En este apartado de Lista de Alumnos , como docente usted podra
                agregar,eliminar y editar a los estudiantes que pertenecen a su clase.
            </p>
            </mat-card-content>
            <mat-card-actions>
                <span class="example-spacer"></span>
                <button mat-raised-button color="primary" routerLink="/dashboard/usuarios"> Ir a Lista de Alumnos </button>
                <span class="example-spacer"></span>
            </mat-card-actions>
        </mat-card>
            <br>
            <br>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> Actividades </mat-card-title>
                <mat-card-subtitle>¿para que sirve?</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://i.pinimg.com/originals/0e/e3/49/0ee349b5e516977906ba60eb56195059.gif" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <br>
            <p>
                En este apartado de Lista de Alumnos , como docente usted podra
                tomar apuntes importantes que nesecite para la realizacion de sus clases
                como fechas de evaluciones, trabajos programados etc.
            </p>
            </mat-card-content>
            <mat-card-actions>
                <span class="example-spacer"></span>
                <button mat-raised-button color="accent" routerLink="/dashboard/notas"> Ir a notas </button>
                <span class="example-spacer"></span>
            </mat-card-actions>
        </mat-card>
            <br>
            <br>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title> Asignaturas </mat-card-title>
                    <mat-card-subtitle>¿para que sirve?</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://i.pinimg.com/originals/c3/5f/ee/c35fee2696bad4156267da70736dad83.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <br>
                <p>
                    En este apartado de Asignaturas, como docente usted podra
                    tener el contro de las clases o asignaturas que usted dicta en las diferentes facultades
                    con el fin de que tenga un control de horarios mucho mas organizado, en este apartado podra agregar o eliminar
                    las clases que tenga asignadas.
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <span class="example-spacer"></span>
                    <button mat-raised-button color="primary" routerLink="/dashboard/clases"> Ir a Asignaturas </button>
                    <span class="example-spacer"></span>
                </mat-card-actions>
            </mat-card>
    </div>
</div>


