<div class="container">
    <mat-toolbar>
        <i class="fa-solid fa-pen-to-square"></i>
        <span class="example-spacer"></span>
        <span> ver Alumno </span>
        <span class="example-spacer"></span>
    </mat-toolbar>


    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title-group>
            <span class="example-spacer"></span>
            <img mat-card-xl-image src="https://www.nicepng.com/png/detail/128-1280406_view-user-icon-png-user-circle-icon-png.png" >
            <span class="example-spacer"></span>
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p><strong> Usuario: </strong></p>
            <p><strong> Nobre: </strong> Shinobu Makanochi </p>
            <p><strong> Sexo: </strong> Femenino </p>
            <p><strong> Correo: </strong> Sh-Mak@ColKmgw.com </p>
        </mat-card-content>
        <mat-card-actions>
            <span class="example-spacer"></span>
            <button mat-raised-button color="accent" routerLink="/dashboard/usuarios"> Volver </button>
            <span class="example-spacer"></span>
        </mat-card-actions>
    </mat-card>
</div>
