.example-card {
    margin-left: 300px;
    margin-right: 300px;
    max-width: 400px;
    margin-bottom: 8px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

.mat-toolbar {
    background:#ff40808d;
    color: #f3f3f3;
}